/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/*.p7s
/.vs/MazghanaGeometry/v16/*.suo
/.vs/MazghanaGeometry/v16/*.db
/.vs/MazghanaGeometry/v16/ipch/*.ipch
/3DEngin/.vs/YoutubeOpenGL/v16/*.suo
/3DEngin/.vs/YoutubeOpenGL/v16/*.db
/3DEngin/.vs/YoutubeOpenGL/v16/*.db-shm
/3DEngin/.vs/YoutubeOpenGL/v16/*.db-wal
/3DEngin/.vs/YoutubeOpenGL/v16/*.opendb
/3DEngin/.vs/YoutubeOpenGL/v16/ipch/AutoPCH/147b332bc4640c8c/*.ipch
/3DEngin/.vs/YoutubeOpenGL/v16/ipch/AutoPCH/3b7b6b689c5e8dfe/*.ipch
/3DEngin/.vs/YoutubeOpenGL/v16/ipch/AutoPCH/4bf8dd13a4a06a16/*.ipch
/3DEngin/.vs/YoutubeOpenGL/v16/ipch/AutoPCH/621aa2f24763dab8/*.ipch
/3DEngin/.vs/YoutubeOpenGL/v16/ipch/AutoPCH/64bce183b33e6f54/*.ipch
/3DEngin/.vs/YoutubeOpenGL/v16/ipch/AutoPCH/71c3ce09d59490b2/*.ipch
/3DEngin/.vs/YoutubeOpenGL/v16/ipch/AutoPCH/8c44c00a78292d12/*.ipch
/3DEngin/.vs/YoutubeOpenGL/v16/ipch/AutoPCH/9aab1725dd87f1c8/*.ipch
/3DEngin/.vs/YoutubeOpenGL/v16/ipch/AutoPCH/ab5321677190e3b8/*.ipch
/3DEngin/.vs/YoutubeOpenGL/v16/ipch/AutoPCH/b0aa4371e3a561ca/*.ipch
/3DEngin/.vs/YoutubeOpenGL/v16/ipch/AutoPCH/c1eadc922fa0c407/*.ipch
/3DEngin/.vs/YoutubeOpenGL/v16/ipch/AutoPCH/c5bee322c15ebac/*.ipch
/3DEngin/.vs/YoutubeOpenGL/v16/ipch/AutoPCH/cf3f20a15e4cd1fc/*.ipch
/3DEngin/Libraries/include/glm/*.hpp
/3DEngin/Libraries/include/glm/detail/*.hpp
/3DEngin/Libraries/include/glm/detail/*.inl
/3DEngin/Libraries/include/glm/ext/*.hpp
/3DEngin/Libraries/include/glm/ext/*.inl
/3DEngin/Libraries/include/glm/gtc/*.hpp
/3DEngin/Libraries/include/glm/gtc/*.inl
/3DEngin/Libraries/include/glm/gtx/*.hpp
/3DEngin/Libraries/include/glm/gtx/*.inl
/3DEngin/*.frag
/3DEngin/*.vert
/3DEngin/*.c
/3DEngin/models/bunny/*.bin
/3DEngin/models/bunny/*.gltf
/3DEngin/models/grindstone/*.bin
/3DEngin/models/grindstone/*.gltf
/3DEngin/models/map/*.bin
/3DEngin/models/map/*.gltf
/3DEngin/models/scroll/*.bin
/3DEngin/models/scroll/*.gltf
/3DEngin/models/sword/*.bin
/3DEngin/models/sword/*.gltf
/3DEngin/x64/Debug/*.exe
/3DEngin/x64/Debug/*.recipe
/3DEngin/x64/Debug/*.ilk
/3DEngin/x64/Debug/*.log
/3DEngin/x64/Debug/*.pdb
/3DEngin/x64/Debug/YoutubeOpenGL.tlog/*.tlog
/3DEngin/x64/Debug/YoutubeOpenGL.tlog/*.lastbuildstate
/3DEngin/x64/Debug/*.enc
/3DEngin/x64/Debug/*.idb
/Debug/*.obj
/Debug/*.exe
/Debug/*.recipe
/Debug/*.ilk
/Debug/*.log
/Debug/*.pch
/Debug/*.pdb
/Debug/MazghanaGeometry.tlog/*.tlog
/Debug/MazghanaGeometry.tlog/*.lastbuildstate
/Debug/*.CopyComplete
/Debug/*.txt
/*.config
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/*.nupkg
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/*.txt
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1028/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1029/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1031/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1033/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1034/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1036/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1040/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1041/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1042/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1045/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1046/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1049/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1055/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/2052/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/*.targets
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/*.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/*.pump
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/custom/*.md
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/custom/*.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/*.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/*.pump
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/*.pdb
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/*.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/*.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/*.pdb
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/*.pdb
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/*.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/*.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/*.pdb
/3DEngin/x64/Debug/*.obj
/3DEngin/x64/Debug/*.txt
/.vs/MazghanaGeometry/v16/*.db-shm
/.vs/MazghanaGeometry/v16/*.db-wal
/.vs/MazghanaGeometry/v16/*.opendb
/.vs/MazghanaGeometry/v16/ipch/AutoPCH/3d23a72830c9658d/*.ipch
/.vs/MazghanaGeometry/v16/ipch/AutoPCH/73cca4d1eabe0f1/*.ipch
/3DEngin/Debug/3DEngin.tlog/*.lastbuildstate
/3DEngin/Debug/3DEngin.tlog/*.tlog
/3DEngin/Debug/*.obj
/3DEngin/Debug/*.log
/3DEngin/Debug/*.idb
/3DEngin/Debug/*.pdb
/3DEngin/x64/Debug/3DEngin.tlog/*.lastbuildstate
/3DEngin/x64/Debug/3DEngin.tlog/*.tlog
/3DEngin/Debug/3DEngin.tlog/unsuccessfulbuild
/.vs/MazghanaGeometry/v16/ipch/AutoPCH/78e9ed65866b1148/*.ipch
/3DEngin/x64/Debug/3DEngin.tlog
/symbolicComputation/GSplines/maple/.vs
png
.vs
Libraries
x64
